<?php
/**
 * Include file for use with GDW and Drupal 6/7. Add to the site's settings.php with:
 *
 * if (file_exists('../gdw.settings.php')) {
 *   include '../gdw.settings.php';
 * }
 *
 */

// Get the major Drupal version number (6/7/8)
$major_version = substr(VERSION, 0, 1);

// Explode the Drupal root
$drupal_root = explode('/', DRUPAL_ROOT);
// Get the last directory name in DRUPAL_ROOT (dev/test/live)
$environment = array_pop($drupal_root);

switch ($major_version . '-' . $environment) {
  case '6-dev':
    $db_url = 'mysqli://{{ mysql_safe.stdout }}_dev:{{ project_db_password_dev }}@{{ mysql_hostname }}/{{ mysql_safe.stdout }}_dev';
  case '6-test':
    $db_url = 'mysqli://{{ mysql_safe.stdout }}_test:{{ project_db_password_test }}@{{ mysql_hostname }}/{{ mysql_safe.stdout }}_test';
  case '6-live':
    $db_url = 'mysqli://{{ mysql_safe.stdout }}_live:{{ project_db_password_live }}@{{ mysql_hostname }}/{{ mysql_safe.stdout }}_live';
  case '7-dev':
    $databases = array (
      'default' => array (
        'default' => array (
          'database' => '{{ mysql_safe.stdout }}_dev',
          'username' => '{{ mysql_safe.stdout }}_dev',
          'password' => '{{ project_db_password_dev }}',
          'host' => '{{ mysql_hostname }}',
          'port' => '',
          'driver' => 'mysql',
          'prefix' => '',
        ),
      ),
    );
    break;
  case '7-test':
    $databases = array (
      'default' => array (
        'default' => array (
          'database' => '{{ mysql_safe.stdout }}_test',
          'username' => '{{ mysql_safe.stdout }}_test',
          'password' => '{{ project_db_password_test }}',
          'host' => '{{ mysql_hostname }}',
          'port' => '',
          'driver' => 'mysql',
          'prefix' => '',
        ),
      ),
    );
    break;
  case '7-live':
    $databases = array (
      'default' => array (
        'default' => array (
          'database' => '{{ mysql_safe.stdout }}_live',
          'username' => '{{ mysql_safe.stdout }}_live',
          'password' => '{{ project_db_password_live }}',
          'host' => '{{ mysql_hostname }}',
          'port' => '',
          'driver' => 'mysql',
          'prefix' => '',
        ),
      ),
    );
    break;
}
